.answer {
  display: flex;
  min-width: 500px;
  width: 80%;
  cursor: pointer;
  height: 100px;
  margin: 10px;
}

.answer__content {
  position: relative;
  display: flex;
  flex: 1;
}

.front, .back {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
}

.front {
  align-items: center;
  border-radius: 12px;
  padding: 15px;
  background-color: #fff;
  color: #000;
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  font-size: 1.3rem;
  font-weight: bold;
  margin-right: 20px;
  color: #fff;
}

.value {
  font-size: 1.3rem;
  font-weight: bold;
}